
/*Globale variabler*/
$bg-color-morkblaa: #91D6FD;
$bg-color-lysblaa: #D5F0FF;
$bg-color-morkgraa: #c0bfb9;
$bg-color-lysgraa: #DDDCD4;
$bg-color-morkgron: #8AD0BF;
$bg-color-lysgron: #C1DDD6;
$bg-color-morkgul: #EAB584;
$bg-color-lysgul: #E6C9AF;
$bg-color-banner: #FAD6AC;

$text-color: #171717;