
/*Globale variabler*/
$bg-color: black;
$bg-color-morkblaa: #91D6FD;
$bg-color-lysblaa: #D5F0FF;
$bg-color-morkgraa: #c0bfb9;
$bg-color-lysgraa: #DDDCD4;
$bg-color-morkgron: #8AD0BF;
$bg-color-lysgron: #C1DDD6;
$bg-color-morkgul: #EAB584;
$bg-color-lysgul: #E6C9AF;
$bg-color-banner: #FAD6AC;
$bg-color-textbox: rgba(255, 255, 255, 0.75);
$bg-color-hover-btn: #F9F1EB;

$text-color: #171717;
$rod-text: #C70000;

$font:"Barlow Condensed", sans-serif;
$font2: "Barlow", sans-serif;
$pfont: "Roboto", sans-serif;

/*Mixins*/

@mixin box-onesize($bg-color: $bg-color-morkglaa){
    max-width: 1512px;
    height: 982px;
    margin: 20px auto;
    background-color: $bg-color;
    display: grid;
    grid-template: 5em 1fr 5em / 4em 1fr 4em;
    position: relative;
    overflow: hidden;

    .trekant{
        grid-area: 1 / 1 / 4 / 4;
        position: relative;
        max-width: 100%;
        margin-top: auto;
        order: -1;
    }

    .menu{
        grid-area: 1 / 1 / 2 / 2;
        width: 70px;
        padding: 0.5em;
        position: absolute;
        z-index: 60;
    }

    .progressbar{
        grid-area: 1 / 2 / 2 / 3;
        align-self: center;
        justify-self: center;
        width: 50%;
    }

    .pile-placering{
        grid-area: 3 / 1 / 4 / 4;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.8em;
        z-index: 1;

        img{
            width: 80%;
            padding-top: 0.5em;
        }
    }
}

@mixin box-overflow($bg-color: $bg-color-morkblaa){
    max-width: 1512px;
    margin: 20px auto;
    background-color: $bg-color;
    position: relative;
    display: grid;
    grid-template: 5em 1fr 5em / 4em 1fr 4em;
    overflow: hidden;

    .menu{
        grid-area: 1 / 1 / 2 / 2;
        width: 70px;
        padding: 0.5em;
    }

    .progressbar{
        grid-area: 1 / 2 / 2 / 3;
        align-self: center;
        justify-self: center;
        width: 50%;
    }

    .trekant{
        grid-area: 1 / 1 / 4 / 4;
        position: relative;
        height: 70%;
        max-width: 100%;
        margin-top: auto;
        order: -1;
    }

    .pile-placering{
        grid-area: 3 / 1 / 4 / 4;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5em;
        z-index: 1;

        img{
            width: 80%;
            padding-top: 0.5em;
        }

    }
}
