




@media screen and (max-width: 1251px) {
.box-start{
    .text-boble{
        bottom: 19%;
    }
}

.box-hacking{
    .tilbage-scroll{
        margin-left: 20%;
    }
}

.box-password{
    .password-pige{
        height: 32%;
    }
}

.box-vaerktoejer{
    .tilbage-scroll{
        margin-left: 25%;
    }
}

.box-scenario-start{
    .kvinde-sid{
        height: 63%;
    }
    .hund{
        height: 24%;
        left: 24%;
        bottom: 30%;
    }
    .tante{
        height: 30%;
        left: 20%;
        top: 19%;
    }
}

.box-scenario-klar{
    .hund{
        left: 2%;
        bottom: 10%;
    }
    .password-pige-staa{
        left: 12%;
    }
    .text-scenario-klar{
        width: 55%;
        top: 10%;
    }
}

.box-scenario-faerdig{
    .text-scenario-faerdig{
        width: 50%;
        right: 3%;
    }
    .farvel{
        height: 70%;
        top: 20%;
    }
}
}

@media screen and (max-width: 1069px) {
.box-start{
    height: 1050px;
}
.box-scenario-start{
    .hacker{
        height: 75%;
    }
    .skaerm{
        height: 20%;
        top: 25%;
        left: 20%
    }
}
.box-scenario-faerdig{
    .text-scenario-faerdig{
        width: 45%;
        right: 3%;
        .knap{
            padding: 0.5em;
            font-size: 2.2em;
        }
    }
    .farvel{
        height: 60%;
        top: 30%;
    }
}
}

@media screen and (max-width: 980px) {

.box-start{
    height: 1150px;

    .text-vejledning{
        padding: 2em;
    }

    .side2dame, .forsidedame{
        height: 50%;
        top: 35%;
    }
    
}

.box-hacking{

    .hacking-hacker{
        height: 50%;
    }

    .tilbage-scroll{
        margin-left: 25%;
    }
}

 .box-vaerktoejer{
    .tilbage-scroll{
        margin-left: 35%;
    }
}

.box-scenario-klar{
    height: 1200px;

    .hund{
        height: 24%;
        left: 2%;
    }
    .password-pige-staa{
        height: 60%;
        left: 14%;
        top: 30%;
    }
    .text-scenario-klar{
        top: 10%;
        padding: 1.5em 1.5em 1em 2em;
    }
}

.box-scenario-start{
    .container{
        right: 3%;
    }
    .kvinde-sid{
        height: 50%;
    }
    .hund{
        height: 20%;
        left: 24%;
        bottom: 25%;
    }
    .tante{
        height: 25%;
        left: 20%;
        top: 35%;
    }
}
    
}

@media screen and (max-width: 822px) {

.box-start{
    .padding-vejl{
        padding-right: 10em;
    }
    .forside-hacker{
        height: 140px;
    }
    .forside-hack{
        width:58%
    }
}

.box-hacking{
    .progressbar{
        width: 60%;
    }
    .hacking-hacker{
        height: 47%;
    }
    .tilbage-scroll{
        margin-left: 30%;
    }
}

.box-password{
    .progressbar{
        width: 60%;
    }
}

.box-vaerktoejer{
    .tilbage-scroll{
        margin-left: 40%;
    }
    .progressbar{
        width: 60%;
    }
}

.box-scenario-klar{
    .progressbar{
        width: 80%;
    }
}

.box-scenario-start{
    height: 1400px;
    .progressbar{
        width: 80%;
    }
    .container{
        padding: 1.5em;
        width: 90%;
        right: 5%;
        top: 8%;
    }
    .kvinde-sid{
        height: 40%;
        bottom: 1%;
    }
    .hund{
        height: 18%;
        left: 44%;
        bottom: 10%;
    }
    .tante{
        height: 20%;
        left: 28%;
        top: 52%;
    }
    .hacker{
        height: 60%;
    }
    .skaerm{
        top: 40%;
        left: 35%;
    }  
}

.box-scenario-klar{

    .hund{
        height: 20%;
        left: 1%;
        bottom: 6%;
    }
    .password-pige-staa{
        height: 50%;
        left: 14%;
        top: 40%;
    }
    .text-scenario-klar{
        top: 10%;
        padding: 1.5em 1.5em 1em 2em;
    }
}  

.box-scenario-faerdig{
    .text-scenario-faerdig{
        padding: 1.5em;
        width: 90%;
        right: 5%;
        top: 10%;
        .knap{
            padding: 0.5em;
            font-size: 2.2em;
        }
    }
    .farvel{
        height: 50%;
        top: 40%;
        left: 50%;
    }
}
}

@media screen and (max-width: 768px) {

h1{
    font-size: 2.5em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.75em;
}

p{
    font-size: 1.25em;
}

.box-password{
    .password-pige{
        height: 28%;
    }
}

.box-vaerktoejer{
    .accordion-item{
        margin-left: 8em;
    }
}

.box-scenario-klar{
    .text.scenario-klar{
        padding: 1em;
    }
}

.box-scenario-start{
    .hacker{
        height: 55%;
    }
    .skaerm{
        height: 15%;
        top: 45%;
    }
}

.box-scenario-faerdig{
    .farvel{
        height: 50%;
        top: 40%;
        left: 45%;
    }
}

}

@media screen and (max-width: 700px){
    
.box-start{
    grid-template: 5em 1fr 5em / 2em 1fr 2em;
}

.box-hacking{

    .hacking-hacker{
        height: 35%;
    }

    .text-hacking{
        padding: 2em;
    }

    .tilbage-scroll{
        margin-left: 30%;
    }

    .orange-box{
        padding-left: 3em;
        .responsiv-gul-tekst{
            padding-left: 0;
        }
    }
    
}

.box-password{
grid-template: 5em 1fr 5em / 2em 1fr 2em;

.text-password{
    padding-left: 2em;
}
.password-pige{
    height: 16%;
    bottom: 0;
    left: 10%;
}
.orange-box{
    padding-left: 2em;
}

}

.box-vaerktoejer{
    .tante{
        height: 600px;
    }
    .accordion-item{
        margin-left: 0em;
    }

    .orange-box{
        padding-left: 4em;
    }

    .responsiv-teaser{
        padding-left: 4em;
    }
}

.box-scenario-klar{
    .text-scenario-klar{
        width: 90%;
        top: 10%;
    }
    .password-pige-staa{
        left: 68%;
        height: 50%;
        top: 42%;
    }
    .hund{
        left: 49%;
        height: 18%;
        bottom: 5%;
    }
    .responsiv-klar{
        padding-right: 8em;
    }

}

.box-scenario-start{
    height: 1450px;
    .tante{
        left: 35%;
    }
    .hund{
        height: 18%;
        left: 55%;
    }
}

.box-scenario-faerdig{
    .farvel{
        height: 50%;
        top: 45%;
        left: 38%;
    }
}
}

@media screen and (max-width: 600px) {

.box-start{
    height: 1300px;
    .menu{
        width: 60px;
    }
    .side2dame{
        height: 30%;
        top: 65%;
    }
    .forside-hack{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .forside-hacker{
        width: 30%;
        height: auto;
    }
    .forsidedame{
        height: 30%;
        top:38%
    }
    .text-vejledning{
        padding: 1.5em;
    }
    .padding-vejl{
        padding-right: 8em;
    }
    .padding-vejl-respons{
        padding-right: 0.5em;
    }
}

.box-hacking{
    grid-template: 5em 1fr 5em / 2em 1fr 2em;
    .menu{
        width: 60px;
    }
    .hacking-hacker{
        height: 25%;
    }
}

.box-password{
    .menu{
        width: 60px;
    }
    .password-pige{
        height: 14%;
        left: 3%;
    }
    .teaser{
        padding-left: 10em;
    }
}

.box-vaerktoejer{
    grid-template: 5em 1fr 5em / 2em 1fr 2em;
    .menu{
        width: 60px;
    }
    .tante{
        height: 550px;
        left: -2%;
    }
    .text-vaerktoejer{
        padding: 2em;
    }
    .accordion-item{
        margin-left: 0em;
    }
    .pile-placering{
        gap: 1em;
        img{
            width: 55%;
        }
    }
}

.box-scenario-klar{
    height: 1350px;

    .menu{
        width: 60px;
    }
    .password-pige-staa{
        height: 40%;
        top: 50%;
    }
    .hund{
        height: 15%;
    }
    .text-scenario-klar{
        top: 7%
    }
}

.box-scenario-start{
    height: 1350px;
    .menu{
        width: 60px;
    }
    .container{
        top: 6%;
    }
    .kvinde-sid{
        height: 32%;
        bottom: 1%;
    }
    .hund{
        height: 12%;
        left: 55%;
        bottom: 10%;
    }
    .tante{
        height: 14%;
        left: 32%;
        top: 63%;
    }
    .hacker{
        height: 50%;
    }
    .skaerm{
        top: 50%;
    }
    .btn{
        padding: 0.5em;
    }
}

.box-scenario-faerdig{
    .text-scenario-faerdig{
        padding: 1em;
        width: 90%;
     }
    .farvel{
        height: 45%;
        top: 57%;
        left: 30%;
    }
}
}

@media screen and (max-width: 480px) {
h1{
    font-size: 2.3em;
}

h2{
    font-size: 1.8em;
}

h3{
    font-size: 1.6em;
}

p{
    font-size: 1.12em;
}

.box-start{
    height: 1400px;
    .side2dame{
        height: 25%;
        top: 62%;
    }
    .forsidedame{
        top: 32%;
    }
}

.box-hacking{
    .pile-placering{
        gap: 1em;
        img{
            width: 55%;
        }
        .tilbage-scroll{
            margin-left: 40%;
        }
        }
.text-hacking{
    padding: 1em;
    .orange-box{
        padding: 1em;
    }
    }
}

.box-password{
    .pile-placering{
        gap: 1em;
        img{
            width: 55%;
        }
    }
    .password-pige{
        grid-area: 2 / 2 / 3 / 4;
        height: 10%;
        left: 15%;
        bottom: -1%;
    }
    .text-password{
        padding: 1em;
    }
    .orange-box{
        padding: 1em;
    }
    .teaser-responsiv{
        padding: 0 0 15em 0;
    }
}

.box-vaerktoejer{
    .tante{
        height: 380px;
    }
    .text-vaerktoejer{
        padding: 1em;
    }
    .orange-box{
        padding: 1em;
    }
    .accordion-item{
        h3{
            font-size: 1.5em;
        }
    }
    .pile-placering{
        gap: 0.6em;
        .tilbage-scroll{
            margin-left: 25%;
        }
    }
}

.box-scenario-klar{
    height: 1400px;

    .text-scenario-klar{
        top: 7%; 
        .respons-right{
            padding-right: 7em;
        }
    }
    .responsiv-klar{
        padding-right: 1em;
    }
    .respons-right{
        padding-right: 1em;
    }
    .password-pige-staa{
        left: 60%;
        height: 30%;
        top: 65%;
    }
    .hund{
        left: 35%;
        height: 12%;
        bottom: 5%;
    }
    .pile-placering{
        gap: 1em;
        img{
            width: 55%;
        }
    }
    .progressbar{
        width: 90%;
        padding-left: 1em;
    }
}

.box-scenario-start{
    height: 1450px;
    .container{
        padding: 1em;
        top: 6%;
    }
    .kvinde-sid{
        height: 30%;
        bottom: 1%;
    }
    .hund{
        height: 11%;
        left: 55%;
        bottom: 10%;
    }
    .tante{
        height: 14%;
        left: 36%;
        top: 65%;
    }
    .hacker{
        height: 40%;
    }
    .skaerm{
        top: 60%;
        height: 10%;
    }
}

.box-scenario-faerdig{
    .farvel{
        height: 45%;
        top: 57%;
        left: 15%;
    }
}
}
@media screen and (max-width: 400px) {
    
.box-start{
    height: 1400px;
    grid-template: 5em 1fr 5em / 1em 1fr 1em;
    .side2dame{
        height: 18%;
        top: 76%;
    }
    .forsidedame{
        height: 18%;
        top: 43%;
    }
    .text-vejledning{
        padding: 1em;
    }   
    .padding-vejl-respons2{
        padding-right: 0.5em;
    }
    .pile-placering{
        gap: 0.2em;
        img{
            width: 55%;
        }
    }
}

.box-hacking{
    
    .hacking-hacker{
        height: 18%;
    }
    .teaser{
        padding-left: 1em;
        padding-bottom: 20em;
    }
}

.box-password{
    .password-pige{
        height: 9%;
    }
}

.box-vaerktoejer{
    .accordion-item{
        h3{
            font-size: 1.3em;
        
        }
    }
}
    
.box-scenario-klar{
    height: 1450px;

    .text-scenario-klar{
        padding: 1em;
        top: 6%;
}
    .password-pige-staa{
        left: 65%;
        height: 25%;
        top: 70%;
    }
    .hund{
        left: 42%;
        height: 10%;
        bottom: 5%;
    }
    .pile-placering{
        gap: 1em;
        img{
            width: 55%;
        }
    }
    .progressbar{
        width: 90%;
        padding-left: 1em;
    }
}

.box-scenario-start{
    height: 1540px;
    
        .container{
            top: 6%;
        }
        .kvinde-sid{
            height: 26%;
            bottom: 1%;
        }
        .hund{
            height: 10%;
            left: 55%;
            bottom: 10%;
        }
        .tante{
            height: 12%;
            left: 40%;
            top: 70%;
        }
        .hacker{
            height: 35%;
        }
        .skaerm{
            top: 66%;
            height: 9%;
            left: 45%;
        }
}

.box-scenario-faerdig{
    .text-scenario-faerdig{
        top: 8%;
        .knap{
            font-size: 1.7em;
        }
     }
    .farvel{
        height: 35%;
        top: 65%;
        left: 15%;
    }
}
}
