




@media screen and (max-width: 1251px) {
    .box-start{
    .text-boble{
        bottom: 19%;
    }
}

.box-hacking{
    .tilbage-scroll{
        margin-left: 20%;
    }
}

.box-password{
    .password-pige{
        height: 32%;
    }
}

.box-vaerktoejer{
    .tilbage-scroll{
        margin-left: 25%;
    }
}

.box-scenario-start{
    .kvinde-sid{
        height: 63%;
    }
    .hund{
        height: 24%;
        left: 24%;
        bottom: 30%;
    }
    .tante{
        height: 30%;
        left: 20%;
        top: 19%;
    }
}


}


@media screen and (max-width: 980px) {

    .box-hacking{

    .hacking-hacker{
        height: 50%;
    }

    .tilbage-scroll{
        margin-left: 25%;
    }
  }

  .box-vaerktoejer{
    .tilbage-scroll{
        margin-left: 35%;
    }
}
.box-scenario-klar{
    .hund{
        height: 22%;
        left: 4%;
    }
    .password-pige-staa{
        height: 70%;
        left: 14%;
    }
}

.box-scenario-start{
    .container{
        right: 3%;
    }
    .kvinde-sid{
        height: 50%;
    }
    .hund{
        height: 20%;
        left: 24%;
        bottom: 25%;
    }
    .tante{
        height: 25%;
        left: 20%;
        top: 35%;
    }
}
    
}

@media screen and (max-width: 822px) {

    .box-hacking{

    .progressbar{
        width: 60%;
    }

    .hacking-hacker{
        height: 47%;
    }

    .tilbage-scroll{
        margin-left: 30%;
    }
  }

  .box-password{

    .progressbar{
        width: 60%;
    }
}

.box-vaerktoejer{
    .tilbage-scroll{
        margin-left: 40%;
    }
    .progressbar{
        width: 60%;
    }
}

.box-scenario-klar{
    .progressbar{
        width: 80%;
    }
}

.box-scenario-start{
    height: 1400px;
    .progressbar{
        width: 80%;
    }

    .container{
        padding: 1.5em;
        width: 90%;
        right: 5%;
        top: 8%;
    }
    .kvinde-sid{
        height: 40%;
        bottom: 1%;
    }
    .hund{
        height: 18%;
        left: 44%;
        bottom: 10%;
    }
    .tante{
        height: 20%;
        left: 28%;
        top: 52%;
    }

}
    
}

@media screen and (max-width: 768px) {

    h1{
        font-size: 2.5em;
    }
    
    h2{
        font-size: 2em;
    }
    
    h3{
        font-size: 1.75em;
    }
    
    p{
        font-size: 1.25em;
    }

    .box-password{
        .password-pige{
            height: 28%;
        }
    }

    .box-vaerktoejer{
        .accordion-item{
            margin-left: 8em;
        }
    }

    .box-scenario-klar{
        .text.scenario-klar{
            padding: 1em;
        }
        .p-bund{
            padding-bottom: 0.5em;
        }
    }

}

@media screen and (max-width: 700px){
    .box-hacking{

        .hacking-hacker{
            height: 35%;
        }

        .text-hacking{
            padding: 2em;
        }
    
        .tilbage-scroll{
            margin-left: 30%;
        }

        .orange-box{
            padding-left: 3em;
            .responsiv-gul-tekst{
                padding-left: 0;
            }
        }
        
      }

      .box-password{
        grid-template: 5em 1fr 5em / 2em 1fr 2em;

        .text-password{
            padding-left: 2em;
      }
        .password-pige{
            height: 16%;
            bottom: 0;
            left: 10%;
        }
        .orange-box{
            padding-left: 2em;
    }
    
}
.box-vaerktoejer{
    .tante{
        height: 52%;
    }
    .accordion-item{
        margin-left: 2.5em;
    }

    .orange-box{
        padding-left: 4em;
    }

    .responsiv-teaser{
        padding-left: 4em;
    }
}

.box-scenario-klar{
    .text-scenario-klar{
        width: 90%;
        top: 10%;
}

.password-pige-staa{
    left: 68%;
    height: 50%;
    top: 42%;
}
.hund{
    left: 49%;
    height: 18%;
    bottom: 10%;
}
.responsiv-klar{
    padding-right: 5em;
}

}

.box-scenario-start{
    .tante{
        left: 35%;
    }
    .hund{
        height: 18%;
        left: 55%;
    }
    
}
}

@media screen and (max-width: 600px) {

    .box-hacking{
        grid-template: 5em 1fr 5em / 2em 1fr 2em;

        .hacking-hacker{
            height: 25%;
        }
    }

    .box-password{
        .password-pige{
            height: 14%;
            left: 3%;
        }
        .teaser{
            padding-left: 10em;
        }

    }

    .box-vaerktoejer{
        grid-template: 5em 1fr 5em / 2em 1fr 2em;

        .tante{
            height: 45%;
            
        }
        .accordion-item{
            margin-left: 0em;
        }

            .pile-placering{
                gap: 1em;
                img{
                    width: 55%;
                }
    }

}
.box-scenario-start{
    height: 1300px;
    
        .container{
            top: 6%;
        }
        .kvinde-sid{
            height: 32%;
            bottom: 1%;
        }
        .hund{
            height: 12%;
            left: 55%;
            bottom: 10%;
        }
        .tante{
            height: 14%;
            left: 32%;
            top: 63%;
        }
    
    }


}

@media screen and (max-width: 480px) {

    .box-hacking{
        .pile-placering{
            gap: 1em;
            img{
                width: 55%;
            }
            .tilbage-scroll{
                margin-left: 40%;
            
            }
        }
    }

    .box-password{
        .pile-placering{
            gap: 1em;
            img{
                width: 55%;
            }
        }

        .password-pige{
            grid-area: 2 / 2 / 3 / 4;
            height: 10%;
            left: 15%;
            bottom: -1%;
        }

        .teaser-responsiv{
            padding: 0 0 15em 0;
        }
    }

    .box-vaerktoejer{
        .tante{
            height: 30%;
        }
        .text-vaerktoejer{
            padding: 2em;
        }
        .orange-box{
            padding: 1em;
        }
    }

    .box-scenario-klar{
        height: 1200px;

        .text-scenario-klar{
            top: 7%;
            .responsiv-klar{
                padding-right: 0.5em;
            }
        }
        
        .password-pige-staa{
            left: 60%;
            height: 40%;
            top: 53%;
        }
        .hund{
            left: 35%;
            height: 14%;
            bottom: 10%;
        }
        .pile-placering{
            gap: 1em;
            img{
                width: 55%;
            }
        }
        .progressbar{
            width: 90%;
            padding-left: 1em;
        }
    }

    .box-scenario-start{
        height: 1400px;
        
            .container{
                top: 6%;
            }
            .kvinde-sid{
                height: 30%;
                bottom: 1%;
            }
            .hund{
                height: 11%;
                left: 55%;
                bottom: 10%;
            }
            .tante{
                height: 14%;
                left: 36%;
                top: 65%;
            }
        
        }
    

    h1{
        font-size: 2.3em;
    }
    
    h2{
        font-size: 1.8em;
    }
    
    h3{
        font-size: 1.6em;
    }
    
    p{
        font-size: 1.12em;
    }

}

@media screen and (max-width: 400px) {
    .box-scenario-klar{
        height: 1400px;

        .text-scenario-klar{
            padding: 1em;
            top: 6%;
    }
        
        .password-pige-staa{
            left: 45%;
            height: 35%;
            top: 58%;
        }
        .hund{
            left: 20%;
            height: 12%;
            bottom: 8%;
        }
        .pile-placering{
            gap: 1em;
            img{
                width: 55%;
            }
        }
        .progressbar{
            width: 90%;
            padding-left: 1em;
        }
    }

    .box-scenario-start{
        height: 1540px;
        
            .container{
                top: 6%;
            }
            .kvinde-sid{
                height: 26%;
                bottom: 1%;
            }
            .hund{
                height: 10%;
                left: 55%;
                bottom: 10%;
            }
            .tante{
                height: 12%;
                left: 40%;
                top: 70%;
            }
}
}