




@media screen and (max-width: 1251px) {
    .box-start{

    .text-boble{
        bottom: 19%;
    }
}

.box-hacking{
    .tilbage-scroll{
        margin-left: 20%;
    }
}

.box-password{
    .password-pige{
        height: 32%;
    }
}
}

@media screen and (max-width: 980px) {

    .box-hacking{

    .hacking-hacker{
        height: 50%;
    }

    .tilbage-scroll{
        margin-left: 25%;
    }
  }
    
}

@media screen and (max-width: 822px) {

    .box-hacking{

    .progressbar{
        width: 60%;
    }

    .hacking-hacker{
        height: 47%;
    }

    .tilbage-scroll{
        margin-left: 30%;
    }
  }

  .box-password{

    .progressbar{
        width: 60%;
    }
}
    
}

@media screen and (max-width: 768px) {

    h1{
        font-size: 2.5em;
    }
    
    h2{
        font-size: 2em;
    }
    
    h3{
        font-size: 1.75em;
    }
    
    p{
        font-size: 1.25em;
    }

    .box-password{
        .password-pige{
            height: 28%;
        }
    }

}

@media screen and (max-width: 700px){
    .box-hacking{

        .hacking-hacker{
            height: 35%;
        }

        .text-hacking{
            padding: 2em;
        }
    
        .tilbage-scroll{
            margin-left: 30%;
        }

        .orange-box{
            padding-left: 3em;
            .responsiv-gul-tekst{
                padding-left: 0;
            }
        }
        
      }

      .box-password{
        grid-template: 5em 1fr 5em / 2em 1fr 2em;

        .text-password{
            padding-left: 2em;
      }
        .password-pige{
            height: 16%;
            bottom: 0;
            left: 10%;
        }
        .orange-box{
            padding-left: 2em;
    }
    
}
}

@media screen and (max-width: 600px) {

    .box-hacking{
        grid-template: 5em 1fr 5em / 2em 1fr 2em;

        .hacking-hacker{
            height: 25%;
        }
    }

    .box-password{
        .password-pige{
            height: 14%;
            left: 3%;
        }
        .teaser{
            padding-left: 10em;
        }
    }

}

@media screen and (max-width: 480px) {

    .box-hacking{
        .pile-placering{
            gap: 1em;
            img{
                width: 55%;
            }
            .tilbage-scroll{
                margin-left: 40%;
            
            }
        }
    }

    .box-password{
        .pile-placering{
            gap: 1em;
            img{
                width: 55%;
            }
        }

        .password-pige{
            grid-area: 2 / 2 / 3 / 4;
            height: 10%;
            left: 15%;
            bottom: -1%;
        }

        .teaser-responsiv{
            padding: 0 0 15em 0;
        }
    }

    h1{
        font-size: 2.3em;
    }
    
    h2{
        font-size: 1.8em;
    }
    
    h3{
        font-size: 1.6em;
    }
    
    p{
        font-size: 1.12em;
    }

}