@use "partial";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: partial.$text-color;
}

body{
    background-color: black;
}

h1{
    font-family: partial.$font;
    font-weight: 700;
    font-size: 55px;
    padding-bottom: 0.5em;
}

h2{
    font-family: partial.$font2;
    font-size: 28px;
    padding-bottom: 0.5em;
    font-weight: 600;
}

p{
    font-family: partial.$pfont;
    padding-bottom: 1em;
    line-height: 26px;
}

.forsidep{
    font-size: 28px;
    padding-bottom: 0.5em;
    line-height: 30px;
}

.rod{
    color: partial.$rod-text;
}

.box-start{
    height: 785px;
    max-width: 1209px;
    margin: 20px auto;
    background-color: partial.$bg-color-morkblaa;
    box-shadow: 10px 5px 5px grey;
    position: relative;
    overflow: hidden;

    .trekant{
        position: absolute;
        width: 1209px;
        bottom: 0;
    }

    .forsidedame{
        position: absolute;
        height: 90%;
        left: 5%;
        top: 10%;
    }

    .side2dame{
        position: absolute;
        height: 90%;
        left: 65%;
        top: 40%;
    }

    .text-start{
        padding: 2em;
        border-radius: 25px;
        width: 60%;
        position: relative;
        left: 28%;
        top: 5%;
        background-color: partial.$bg-color-textbox;
    }

    .text-objectives{
        padding: 2em 20em 2em 5em;
        border-radius: 25px;
        width: 90%;
        position: absolute;
        left: 5%;
        top: 13%;
        background-color: partial.$bg-color-textbox;
    }

    .taleboble{
        position: absolute;
        top: 65%;
        left: 27%;
        width: 400px;
        height: auto;
    }

    .text-boble{
        position: absolute;
        top: 71%;
        left: 32%;
        font-size: 24px;
        width: 250px;
    }

    .hacker-forside{
        position: absolute;
        top: 65%;
        left: 50%;
    }

    .start{
        position: absolute;
        top: 90%;
        left: 80%;
        display: flex;
        gap: 15px;
    }

    .naeste{
        position: absolute;
        top: 93%;
        left: 82%;
        display: flex;
        gap: 15px;
    }

    .tilforsiden{
        position: absolute;
        top: 93%;
        left: 2%;
        display: flex;
        gap: 15px;
    }

    .spot{
        position: absolute;
        top: 73%;
        left: 77%;
    }

    a{
        text-decoration: none;
        color: partial.$text-color;
    }

    ul{
        padding: 0em 0 1em 1em;
    }
    li{
        font-family: partial.$pfont;
        padding: 0.2em;
        line-height: 20px;
    }

    .p-bund{
        padding-bottom: 1.7em;
    }

    .menu{
        position: absolute;
        top: 2%;
        left: 1%;
        width: 60px;
    }

    .progressbar{
        position: absolute;
        left: 30%;
        top: 4%;
    }
}

.box-hacking{
    @include partial.box-overflow ($bg-color: partial.$bg-color-morkgraa);

    .menu{
        grid-area: 1 / 1 / 2 / 2;
        width: 70px;
        padding: 0.5em;
    }

    .progressbar{
        grid-area: 1 / 2 / 2 / 3;
        align-self: center;
        justify-self: center;
    }

    .hacking-hacker{
        grid-area: 2 / 1 / 2 / 3;
        position: relative;
        height: 70%;
        bottom: -7%;
        margin-top: auto;
    }
    .trekant{
        grid-area: 1 / 1 / 4 / 4;
        position: relative;
        height: 70%;
        max-width: 100%;
        margin-top: auto;
        order: -1;
    }

    .text-hacking{
        padding: 2em 2em 2em 8em;
        border-radius: 25px;
        width: 100%;
        grid-area: 2 / 2 / 3 / 3;
        background-color: partial.$bg-color-textbox;
        z-index: 0;
    }

    .orange-box{
        background-color: partial.$bg-color-banner;
        padding: 2em 2em 2em 8em;
        margin-bottom: 1.5em;
        text-align: center;
    }

    .pile-placering{
        grid-area: 3 / 1 / 4 / 4;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5em;
        z-index: 1;
    }

    .naeste-scroll{
        display: flex;
        gap: 15px;
    }

    .tilbage-scroll{
        display: flex;
        gap: 15px;
        margin-left: 20%;
    }

    a{
        text-decoration: none;
        color: partial.$text-color;
    }

    ul{
        padding: 0em 0 1em 1em;
    }
    li{
        font-family: partial.$pfont;
        padding: 0.2em;
        line-height: 20px;
    }

    .p-bund{
        padding-bottom: 1.7em;
    }

    .teaser{
        padding-left: 15em;
    }

}

.box-password{
    height: 785px;
    max-width: 1209px;
    margin: 20px auto;
    background-color: partial.$bg-color-morkgron;
    display: grid;
    grid-template: 5em 1fr 5em / 4em 1fr 4em;
    overflow: scroll;
    overflow-x: hidden;
    background-image: url(../IMG/trekantgron.png);
    background-repeat:no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: contain;

    .menu{
        grid-area: 1 / 1 / 2 / 2;
        width: 70px;
        padding: 0.5em;
    }

    .progressbar{
        grid-area: 1 / 2 / 2 / 3;
        align-self: center;
        justify-self: center;
    }

    .password-pige{
        grid-area: 2 / 1 / 2 / 3;
        position: relative;
        height: 40%;
        left: 1%;
        bottom: -5%;
        margin-top: auto;
    }

    .text-password{
        padding: 2em 2em 2em 8em;
        border-radius: 25px;
        width: 100%;
        grid-area: 2 / 2 / 3 / 3;
        background-color: partial.$bg-color-textbox;
    }

    .orange-box{
        background-color: partial.$bg-color-banner;
        padding: 2em 2em 2em 8em;
        margin-bottom: 1.5em;
        text-align: center;
    }

    .pile-placering{
        grid-area: 3 / 1 / 4 / 4;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5em;
    }

    .naeste-scroll{
        display: flex;
        gap: 15px;
    }

    .tilbage-scroll{
        display: flex;
        gap: 15px;
        margin-left: 20%;
    }

    a{
        text-decoration: none;
        color: partial.$text-color;
    }

    ul{
        padding: 0em 0 1em 1em;
    }
    li{
        font-family: partial.$pfont;
        padding: 0.2em;
        line-height: 20px;
    }

    .p-bund{
        padding-bottom: 1.7em;
    }

    .teaser{
        padding-left: 15em;
    }

}

.box-vaerktoejer{
    height: 785px;
    max-width: 1209px;
    margin: 20px auto;
    background-color: partial.$bg-color-morkgul;
    display: grid;
    grid-template: 5em 1fr 5em / 4em 1fr 4em;
    overflow: scroll;
    overflow-x: hidden;
    background-image: url(../IMG/trekantgul.png);
    background-repeat:no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: contain;

    .menu{
        grid-area: 1 / 1 / 2 / 2;
        width: 70px;
        padding: 0.5em;
    }

    .progressbar{
        grid-area: 1 / 2 / 2 / 3;
        align-self: center;
        justify-self: center;
    }

    .tante{
        grid-area: 2 / 1 / 2 / 3;
        position: relative;
        max-height: 800px;
        left: 1%;
        bottom: -5%;
        margin-top: auto;
    }

    .text-vaerktoejer{
        padding: 2em 2em 2em 8em;
        border-radius: 25px;
        width: 100%;
        grid-area: 2 / 2 / 3 / 3;
        background-color: partial.$bg-color-textbox;
    }

    .orange-box{
        background-color: partial.$bg-color-banner;
        padding: 2em 2em 2em 8em;
        margin-bottom: 1.5em;
        text-align: left;
    }

    .pile-placering{
        grid-area: 3 / 1 / 4 / 4;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5em;
    }

    .naeste-scroll{
        display: flex;
        gap: 15px;
    }

    .tilbage-scroll{
        display: flex;
        gap: 15px;
        margin-left: 20%;
    }

    a{
        text-decoration: none;
        color: partial.$text-color;
    }

    ul{
        padding: 0em 0 1em 1em;
    }
    li{
        font-family: partial.$pfont;
        padding: 0.2em;
        line-height: 20px;
    }

    .p-bund{
        padding-bottom: 1.7em;
    }

    .teaser{
        padding-left: 8em;
    }

/*Accordion - reference: https://codepen.io/nera-iba/pen/VwRmvpz*/

    .accordion{
        max-width: 58vw;
        margin-left: auto;
    }

    .accordion-item{
        background-color: white;
        margin: 1.5em 0;
        cursor: pointer;
        border: 0.5px solid partial.$text-color;


        h2{
            position: relative;
            padding: 0.5em;
        }

        h2::before{
            content:"+";
            position: absolute;
            right: 1em;
        }
    }

    .accordion-item.active h2::before{
        content:"-";
    }

    .accordion-content{
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-out;
        padding: 0 1em;
    }

    .accordion-content.active{
        max-height: auto;
    }

    .sikkerhed{
        font-weight: 700;
        font-size: 24px;
    }

    .orange-box-sikkerhed{
        background-color: partial.$bg-color-banner;
        padding: 1em;
        margin-bottom: 1em;
    }


}

.box-scenario{
    height: 785px;
    max-width: 1209px;
    margin: 20px auto;
    background-color: partial.$bg-color-morkgron;
    position: relative;
    overflow: hidden;

    .trekant{
        position: absolute;
        width: 1209px;
        bottom: 0;
    }

    .password-pige-staa{
        position: absolute;
        height: 75%;
        left: 20%;
        top: 15%;
    }

    .hund{
        position: absolute;
        height: 25%;
        left: 8%;
        bottom: 15%;
    }

    .text-scenario{
        padding: 2em 2em 2em 5em;
        border-radius: 25px;
        width: 50%;
        position: absolute;
        right: 5%;
        top: 13%;
        background-color: partial.$bg-color-textbox;
    }

    .taleboble{
        position: absolute;
        top: 65%;
        left: 27%;
        width: 400px;
        height: auto;
    }

    .text-boble{
        position: absolute;
        top: 71%;
        left: 32%;
        font-size: 24px;
        width: 250px;
    }

    .hacker-forside{
        position: absolute;
        top: 65%;
        left: 50%;
    }

    .start{
        position: absolute;
        top: 90%;
        left: 80%;
        display: flex;
        gap: 15px;
    }

    .naeste{
        position: absolute;
        top: 93%;
        left: 82%;
        display: flex;
        gap: 15px;
    }

    .tilforsiden{
        position: absolute;
        top: 93%;
        left: 2%;
        display: flex;
        gap: 15px;
    }

    .spot{
        position: absolute;
        top: 73%;
        left: 77%;
    }

    a{
        text-decoration: none;
        color: partial.$text-color;
    }

    ul{
        padding: 0em 0 1em 1em;
    }
    li{
        font-family: partial.$pfont;
        padding: 0.2em;
        line-height: 20px;
    }

    .p-bund{
        padding-bottom: 1.7em;
    }

    .menu{
        position: absolute;
        top: 2%;
        left: 1%;
        width: 60px;
    }

    .progressbar{
        position: absolute;
        left: 30%;
        top: 4%;
    }
}