@use "partial";


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: partial.$text-color;
}

body{
    background-color: black;
}

h1{
    font-family: partial.$font;
    font-weight: 700;
    font-size: 3.4em;
    padding-bottom: 0.5em;
}

h2{
    font-family: partial.$font;
    font-size: 2.8em;
    padding-bottom: 0.5em;
    font-weight: 600;
}

h3{
    font-family: partial.$font;
    font-size: 2em;
    padding-bottom: 0.5em;
    font-weight: 600;
}

p{
    font-family: partial.$pfont;
    padding-bottom: 1em;
    line-height: 26px;
    font-size: 1.3em;
}

.rod{
    color: partial.$rod-text;
}

/*Menu*/

nav{
    grid-area: 1 / 1 / 2 / 2;
    padding: 0;
}

.menu{
    transition: 0.5s ease-out;
}

.menu:hover{
    background-position: -100%;
}

.dropdown{
    list-style-type: none;
    padding: 0;
}

.dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 2px solid partial.$text-color;
    border-radius: 20px;
    font-family: partial.$font;
    font-size: 20px;
    color: partial.$text-color;
    white-space: nowrap;
    cursor: pointer;
    top: 2%;
    left: 8%;
    list-style: none;
    z-index: 1;
    padding: 0;

    a{
        text-decoration: none;
        font-family: partial.$font;
        padding: 1em 4em 1em 0.5em;

    }

    a:hover{
        font-size: 24px;
    }

    ul{
        padding: 0;
    }

    li {
        margin: 10px auto;
        padding: 0;
}
 }

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

/* Styling af siderne */

.box-start{
    @include partial.box-onesize($bg-color: partial.$bg-color-morkblaa);
    
    .forsidedame{
        position: absolute;
        width: 19%;
        left: 5%;
        top: 12%;
    }

    .side2dame{
        position: absolute;
        height: 80%;
        right: 10%;
        top: 40%;
    }

    .text-start{
        padding: 2em;
        border-radius: 25px;
        width: 60%;
        position: absolute;
        left: 28%;
        top: 5%;
        background-color: partial.$bg-color-textbox;

        h3{
            padding: 1em 0 0.5em 0;
        }

        h2{
            border: 1px solid partial.$text-color;
            display: inline-block;
            padding: 0.3em 1em;
            border-radius: 20px;
            background-color: partial.$text-color;
            color: white;
            margin-top: 0.5em;
        }

        h2:hover{
            background-color: white;
            border: 1px solid partial.$text-color;
            color: partial.$text-color;
        }
    }

    .text-vejledning{
        padding: 2em 2em 2em 4em;
        border-radius: 25px;
        width: 100%;
        grid-area: 2 / 2 / 3 / 3;
        background-color: partial.$bg-color-textbox;
        z-index: 0;
    }

    .padding-vejl{
        padding-right: 13em;
    }

    .taleboble{
        position: absolute;
        bottom: 18%;
        right: 18%;
        width: 30%;
        
    }

    .text-boble{
        position: absolute;
        bottom: 23%;
        right: 23%;
        width: 22%;
    }

    .hacker-forside{
        position: absolute;
        top: 37%;
        right: 1%;
        width: 20%;
    }

    .naeste{
        display: flex;
        gap: 10px;
    }

    .tilforsiden{
        display: flex;
    }

    .spot{
        position: absolute;
        top: 73%;
        left: 77%;
    }

    a{
        text-decoration: none;
        color: partial.$text-color;
    }

    ul{
        padding: 0em 0 1em 1em;

        p{
            padding-bottom: 0.5em;
        }
    }

    .p-bund{
        padding-bottom: 1.5em;
    }

}

.box-hacking{
    @include partial.box-overflow ($bg-color: partial.$bg-color-morkgraa);

    .hacking-hacker{
        grid-area: 2 / 1 / 2 / 3;
        position: relative;
        height: 55%;
        bottom: -10%;
        margin-top: auto;
    }

    .text-hacking{
        padding: 2em 2em 2em 4em;
        border-radius: 25px;
        width: 100%;
        grid-area: 2 / 2 / 3 / 3;
        background-color: partial.$bg-color-textbox;
        z-index: 0;

    }

    .orange-box{
        background-color: partial.$bg-color-banner;
        padding: 2em 2em 2em 12em;
        margin-bottom: 1.5em;
        text-align: left;

        .knap{
            border: 1px solid partial.$text-color;
            display: inline-block;
            padding: 0.3em 1em;
            border-radius: 20px;
            background-color: partial.$text-color;
            color: white;
            margin-bottom: 0.5em;
        }

        .knap:hover{
            background-color: white;
            border: 1px solid partial.$text-color;
            color: partial.$text-color;
        }
    }

    label{
        display: block;
    }

    input{
        height: 3em;
        width: 30em;
        margin: 1em;
        padding: 0 0.5em;
        font-size: 24px;
    }

    .naeste-scroll{
        display: flex;
        gap: 0.5em;
    }

    .tilbage-scroll{
        display: flex;
        margin-left: 15%;
        gap: 0;
    }

    a{
        text-decoration: none;
        color: partial.$text-color;
    }

    ul{
        padding: 0em 0 1em 1em;

        p{
            padding-bottom: 0.5em;
        }
    }
    li{
        font-family: partial.$pfont;
        padding: 0.2em;
        line-height: 20px;
    }

    .p-bund{
        padding-bottom: 1.7em;
    }

    .teaser{
        padding-left: 9em;
    }

}

.box-password{
    @include partial.box-overflow ($bg-color: partial.$bg-color-morkgron);

    .password-pige{
        grid-area: 2 / 1 / 2 / 3;
        position: relative;
        height: 35%;
        left: 3%;
        bottom: -5%;
        margin-top: auto;
    }

    .text-password{
        padding: 2em 2em 2em 4em;
        border-radius: 25px;
        width: 100%;
        grid-area: 2 / 2 / 3 / 3;
        background-color: partial.$bg-color-textbox;
        z-index: 0;
    }

    .orange-box{
        background-color: partial.$bg-color-banner;
        padding: 2em 2em 2em 8em;
        margin-bottom: 1.5em;
        text-align: center;
    }

    .naeste-scroll{
        display: flex;
        gap: 15px;
    }

    .tilbage-scroll{
        display: flex;
        margin-left: 1%;
    }

    a{
        text-decoration: none;
        color: partial.$text-color;
    }

    ul{
        padding: 0em 0 1em 1em;
    }
    li{
        font-family: partial.$pfont;
        padding: 0.2em;
        line-height: 20px;

        p{
            padding-top: 0.3em;
        }
    }

    strong{
        font-size: 1.3em;
    }

    .p-bund{
        padding-bottom: 1.7em;
    }

    .teaser{
        padding-left: 15em;
    }

}

.box-vaerktoejer{
    @include partial.box-overflow ($bg-color: partial.$bg-color-morkgul);

    .tante{
        grid-area: 2 / 1 / 2 / 3;
        position: relative;
        height: 80%;
        left: 1%;
        bottom: -5%;
        margin-top: auto;
    }

    .text-vaerktoejer{
        padding: 2em 2em 2em 4em;
        border-radius: 25px;
        width: 100%;
        grid-area: 2 / 2 / 3 / 3;
        background-color: partial.$bg-color-textbox;
        z-index: 0;
    }

    .orange-box{
        background-color: partial.$bg-color-banner;
        padding: 2em 2em 2em 12em;
        margin-bottom: 1.5em;
        text-align: left;
    }

    .naeste-scroll{
        display: flex;
        gap: 15px;
    }

    .tilbage-scroll{
        display: flex;
        margin-left: 20%;
    }

    a{
        text-decoration: none;
        color: partial.$text-color;
    }

    ul{
        padding: 0em 0 1em 1em;
    }
    li{
        font-family: partial.$pfont;
        padding: 0.2em;
        line-height: 20px;
    }

    .p-bund{
        padding-bottom: 1.7em;
    }

    .teaser{
        padding-left: 9em;
    }

/*Accordion - reference: https://codepen.io/nera-iba/pen/VwRmvpz*/

    .accordion{
        max-width: 100%;
    }

    .accordion-item{
        background-color: white;
        margin: 1.5em 0 1.5em 12em;
        cursor: pointer;
        border: 0.5px solid partial.$text-color;


        h3{
            position: relative;
            padding: 0.5em;
            
        }

        h3::before{
            content:"+";
            position: absolute;
            right: 1em;
            margin-left: 0.5em;
        }
    }

    .accordion-item.active h3::before{
        content:"-";
    }

    .accordion-content{
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-out;
        padding: 0 1em;
    }

    .accordion-content.active{
        max-height: auto;
    }

    .sikkerhed{
        font-weight: 700;
        font-size: 24px;
    }

    .orange-box-sikkerhed{
        background-color: partial.$bg-color-banner;
        padding: 1em;
        margin-bottom: 1em;
    }


}

.box-scenario-klar{
    @include partial.box-onesize($bg-color: partial.$bg-color-morkgron);


    .password-pige-staa{
        position: absolute;
        height: 75%;
        left: 20%;
        top: 15%;
    }

    .hund{
        position: absolute;
        height: 25%;
        left: 8%;
        bottom: 15%;
    }

    .text-scenario-klar{
        padding: 2em 2em 2em 2em;
        border-radius: 25px;
        width: 50%;
        position: absolute;
        right: 5%;
        top: 13%;
        background-color: partial.$bg-color-textbox;
    }


    .start{
        position: absolute;
        top: 90%;
        left: 80%;
        display: flex;
        gap: 15px;
    }

    .naeste{
        display: flex;
        gap: 15px;
    }

    .tilforsiden{
        display: flex;
    }


    a{
        text-decoration: none;
        color: partial.$text-color;
    }

    ul{
        padding: 0em 0 1em 1em;
    }
    li{
        font-family: partial.$pfont;
        padding: 0.2em;
        line-height: 20px;
    }

    .p-bund{
        padding-bottom: 1.7em;
    }

}

.box-scenario-start{
    @include partial.box-onesize($bg-color: partial.$bg-color-morkgron);

    .kvinde-sid{
        position: absolute;
        height: 75%;
        left: 2%;
        bottom: 2%;
        z-index: 2;
    }

    .tante{
        position: absolute;
        height: 35%;
        left: 21%;
        top: 10%;
    }

    .hund{
        position: absolute;
        height: 30%;
        left: 25%;
        bottom: 35%;
        z-index: 1;
    }

    .hacker{
        position: absolute;
        height: 85%;
        left: 15%;
        bottom: 2%;
    }

    .container{
        padding: 2em 2em 2em 2em;
        border-radius: 25px;
        width: 50%;
        position: absolute;
        right: 5%;
        top: 13%;
        background-color: partial.$bg-color-textbox;
    }

    #text{
        font-family: partial.$pfont;
        font-size: 1.3em;
        padding-bottom: 1em;
    }

    #option-buttons{
        display: flex;
        flex-direction: column;
        gap: 1em;
        
    }

    .btn{
        font-family: partial.$pfont;
        font-size: 1.3em;
        background-color: white;
        border: 1px solid partial.$text-color;
        border-radius: 10px;
        padding: 1em;
        text-align: left;
    }

    .btn:hover{
        background-color: partial.$bg-color-hover-btn;
    }

    .p-bund{
        padding-bottom: 1.7em;
    }

}

