*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

h1{
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-size: 64px;
}

.box{
    height: 785px;
    width: 1209px;
    margin: 20px auto;
    background-color: #8AD0BF;
    box-shadow: 10px 5px 5px grey;
    position: relative;

    .trekant{
        position: absolute;
        width: 1209px;
        bottom: 0;
    }

    .forsidedame{
        position: absolute;
        height: 90%;
        left: 5em;
        top: 2.5em;
    }

    article{
        padding: 1em;
        border-radius: 25px;
        width: 60%;
        position: absolute;
        left: 20em;
        top: 2em;
        background-color: rgba(255, 255, 255, 0.60);
    }
}





