/*Globale variabler*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 55px;
  padding-bottom: 0.5em;
}

h2 {
  font-family: "Barlow", sans-serif;
  font-size: 28px;
  padding-bottom: 0.5em;
  font-weight: 600;
}

p {
  font-family: "Roboto", sans-serif;
  padding-bottom: 1em;
  line-height: 26px;
}

.forsidep {
  font-size: 28px;
  padding-bottom: 0.5em;
  line-height: 30px;
}

.rod {
  color: #C70000;
}

.box-start {
  height: 785px;
  max-width: 1209px;
  margin: 20px auto;
  background-color: #91D6FD;
  box-shadow: 10px 5px 5px grey;
  position: relative;
  overflow: hidden;
}
.box-start .trekant {
  position: absolute;
  width: 1209px;
  bottom: 0;
}
.box-start .forsidedame {
  position: absolute;
  height: 90%;
  left: 5%;
  top: 10%;
}
.box-start .side2dame {
  position: absolute;
  height: 90%;
  left: 65%;
  top: 40%;
}
.box-start .text-start {
  padding: 2em;
  border-radius: 25px;
  width: 60%;
  position: relative;
  left: 28%;
  top: 5%;
  background-color: rgba(255, 255, 255, 0.75);
}
.box-start .text-objectives {
  padding: 2em 20em 2em 5em;
  border-radius: 25px;
  width: 90%;
  position: absolute;
  left: 5%;
  top: 13%;
  background-color: rgba(255, 255, 255, 0.75);
}
.box-start .taleboble {
  position: absolute;
  top: 65%;
  left: 27%;
  width: 400px;
  height: auto;
}
.box-start .text-boble {
  position: absolute;
  top: 71%;
  left: 32%;
  font-size: 24px;
  width: 250px;
}
.box-start .hacker-forside {
  position: absolute;
  top: 65%;
  left: 50%;
}
.box-start .start {
  position: absolute;
  top: 90%;
  left: 80%;
  display: flex;
  gap: 15px;
}
.box-start .naeste {
  position: absolute;
  top: 93%;
  left: 82%;
  display: flex;
  gap: 15px;
}
.box-start .tilforsiden {
  position: absolute;
  top: 93%;
  left: 2%;
  display: flex;
  gap: 15px;
}
.box-start .spot {
  position: absolute;
  top: 73%;
  left: 77%;
}
.box-start a {
  text-decoration: none;
  color: #171717;
}
.box-start ul {
  padding: 0em 0 1em 1em;
}
.box-start li {
  font-family: "Roboto", sans-serif;
  padding: 0.2em;
  line-height: 20px;
}
.box-start .p-bund {
  padding-bottom: 1.7em;
}
.box-start .menu {
  position: absolute;
  top: 2%;
  left: 1%;
  width: 60px;
}
.box-start .progressbar {
  position: absolute;
  left: 30%;
  top: 4%;
}

.box-hacking {
  height: 785px;
  max-width: 1209px;
  margin: 20px auto;
  background-color: #c0bfb9;
  box-shadow: 10px 5px 5px grey;
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
}
.box-hacking .trekant {
  position: relative;
  top: 80%;
  max-width: 100%;
  height: auto;
  bottom: 0;
}
.box-hacking .hacking-hacker {
  position: absolute;
  height: 90%;
  left: 2%;
  top: 75%;
}
.box-hacking .text-hacking {
  padding: 2em 5em 2em 12em;
  border-radius: 25px;
  width: 90%;
  position: absolute;
  left: 5%;
  top: 13%;
  background-color: rgba(255, 255, 255, 0.75);
}
.box-hacking .orange-box {
  background-color: #FAD6AC;
  padding: 2em 3em;
  margin-bottom: 1.5em;
  text-align: center;
}
.box-hacking .naeste-scroll {
  position: relative;
  top: 64%;
  left: 82%;
  display: flex;
  gap: 15px;
}
.box-hacking .tilbage-scroll {
  position: relative;
  top: 70%;
  left: 17%;
  display: flex;
  gap: 15px;
}
.box-hacking a {
  text-decoration: none;
  color: #171717;
}
.box-hacking ul {
  padding: 0em 0 1em 1em;
}
.box-hacking li {
  font-family: "Roboto", sans-serif;
  padding: 0.2em;
  line-height: 20px;
}
.box-hacking .p-bund {
  padding-bottom: 1.7em;
}
.box-hacking .teaser {
  padding-left: 15em;
}
.box-hacking .menu {
  position: absolute;
  top: 2%;
  left: 1%;
  width: 60px;
}
.box-hacking .progressbar {
  position: absolute;
  left: 30%;
  top: 4%;
}

.box-password {
  height: 785px;
  max-width: 1209px;
  margin: 20px auto;
  background-color: #8AD0BF;
  display: grid;
  grid-template: 5em 1fr 5em/4em 1fr 4em;
  overflow: scroll;
  overflow-x: hidden;
  background-image: url(../IMG/trekantgron.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}
.box-password .menu {
  grid-area: 1/1/2/2;
  width: 70px;
  padding: 0.5em;
}
.box-password .progressbar {
  grid-area: 1/2/2/3;
  align-self: center;
  justify-self: center;
}
.box-password .password-pige {
  grid-area: 2/1/2/3;
  position: relative;
  height: 40%;
  left: 1%;
  bottom: -2%;
  margin-top: auto;
}
.box-password .text-password {
  padding: 2em 2em 2em 8em;
  border-radius: 25px;
  width: 100%;
  grid-area: 2/2/3/3;
  background-color: rgba(255, 255, 255, 0.75);
}
.box-password .orange-box {
  background-color: #FAD6AC;
  padding: 2em 2em 2em 8em;
  margin-bottom: 1.5em;
  text-align: center;
}
.box-password .pile-placering {
  grid-area: 3/1/4/4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
}
.box-password .naeste-scroll {
  display: flex;
  gap: 15px;
}
.box-password .tilbage-scroll {
  display: flex;
  gap: 15px;
}
.box-password a {
  text-decoration: none;
  color: #171717;
}
.box-password ul {
  padding: 0em 0 1em 1em;
}
.box-password li {
  font-family: "Roboto", sans-serif;
  padding: 0.2em;
  line-height: 20px;
}
.box-password .p-bund {
  padding-bottom: 1.7em;
}
.box-password .teaser {
  padding-left: 15em;
}/*# sourceMappingURL=style.css.map */