/*Globale variabler*/
/*Mixins*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #171717;
}

body {
  background-color: black;
}

h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 3.4em;
  padding-bottom: 0.5em;
}

h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2.8em;
  padding-bottom: 0.5em;
  font-weight: 600;
}

h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2em;
  padding-bottom: 0.5em;
  font-weight: 600;
}

p {
  font-family: "Roboto", sans-serif;
  padding-bottom: 1em;
  line-height: 26px;
  font-size: 1.3em;
}

.forsidep {
  font-size: 28px;
  padding-bottom: 0.5em;
  line-height: 30px;
}

.rod {
  color: #C70000;
}

/*Menu*/
nav {
  grid-area: 1/1/2/2;
  padding: 0;
}

.menu {
  transition: 0.5s ease-out;
}

.menu:hover {
  background-position: -100%;
}

.dropdown {
  list-style-type: none;
  padding: 0;
}

.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  position: absolute;
  background-color: rgb(255, 255, 255);
  border: 2px solid #171717;
  border-radius: 20px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
  color: #171717;
  white-space: nowrap;
  cursor: pointer;
  top: 2%;
  left: 8%;
  list-style: none;
  z-index: 1;
  padding: 0;
}
.dropdown-menu a {
  text-decoration: none;
  font-family: "Barlow Condensed", sans-serif;
  padding: 1em 4em 1em 0.5em;
}
.dropdown-menu a:hover {
  font-size: 24px;
}
.dropdown-menu ul {
  padding: 0;
}
.dropdown-menu li {
  margin: 10px auto;
  padding: 0;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

/* Styling af siderne */
.box-start {
  height: 785px;
  max-width: 1209px;
  margin: 20px auto;
  background-color: #91D6FD;
  display: grid;
  grid-template: 5em 1fr 5em/4em 1fr 4em;
  position: relative;
  overflow: hidden;
}
.box-start .trekant {
  grid-area: 1/1/4/4;
  position: relative;
  max-width: 100%;
  margin-top: auto;
  order: -1;
}
.box-start .menu {
  grid-area: 1/1/2/2;
  width: 70px;
  padding: 0.5em;
}
.box-start .progressbar {
  grid-area: 1/2/2/3;
  align-self: center;
  justify-self: center;
}
.box-start .pile-placering {
  grid-area: 3/1/4/4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8em;
  z-index: 1;
}
.box-start .pile-placering img {
  width: 80%;
  padding-top: 0.5em;
}
.box-start .forsidedame {
  position: absolute;
  height: 90%;
  left: 5%;
  top: 10%;
}
.box-start .side2dame {
  position: absolute;
  height: 90%;
  right: 14%;
  top: 40%;
}
.box-start .text-start {
  padding: 2em;
  border-radius: 25px;
  width: 60%;
  position: absolute;
  left: 28%;
  top: 5%;
  background-color: rgba(255, 255, 255, 0.75);
}
.box-start .text-vejledning {
  padding: 2em 2em 2em 4em;
  border-radius: 25px;
  width: 100%;
  grid-area: 2/2/3/3;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 0;
}
.box-start .padding-vejl {
  padding-right: 13em;
}
.box-start .taleboble {
  position: absolute;
  top: 65%;
  left: 27%;
  width: 400px;
  height: auto;
}
.box-start .text-boble {
  position: absolute;
  top: 71%;
  left: 32%;
  font-size: 24px;
  width: 250px;
}
.box-start .hacker-forside {
  position: absolute;
  top: 65%;
  left: 50%;
}
.box-start .start-pil {
  position: absolute;
  top: 90%;
  left: 80%;
  display: flex;
  gap: 10px;
}
.box-start .naeste {
  display: flex;
  gap: 10px;
}
.box-start .tilforsiden {
  display: flex;
}
.box-start .spot {
  position: absolute;
  top: 73%;
  left: 77%;
}
.box-start a {
  text-decoration: none;
  color: #171717;
}
.box-start ul {
  padding: 0em 0 1em 1em;
}
.box-start ul p {
  padding-bottom: 0.5em;
}
.box-start .p-bund {
  padding-bottom: 1em;
}

.box-hacking {
  height: 785px;
  max-width: 1209px;
  margin: 20px auto;
  background-color: #c0bfb9;
  position: relative;
  display: grid;
  grid-template: 5em 1fr 5em/4em 1fr 4em;
  overflow: scroll;
  overflow-x: hidden;
}
.box-hacking .menu {
  grid-area: 1/1/2/2;
  width: 70px;
  padding: 0.5em;
}
.box-hacking .progressbar {
  grid-area: 1/2/2/3;
  align-self: center;
  justify-self: center;
}
.box-hacking .trekant {
  grid-area: 1/1/4/4;
  position: relative;
  height: 70%;
  max-width: 100%;
  margin-top: auto;
  order: -1;
}
.box-hacking .pile-placering {
  grid-area: 3/1/4/4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
  z-index: 1;
}
.box-hacking .pile-placering img {
  width: 80%;
  padding-top: 0.5em;
}
.box-hacking .hacking-hacker {
  grid-area: 2/1/2/3;
  position: relative;
  height: 60%;
  bottom: -5%;
  margin-top: auto;
}
.box-hacking .text-hacking {
  padding: 2em 2em 2em 4em;
  border-radius: 25px;
  width: 100%;
  grid-area: 2/2/3/3;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 0;
}
.box-hacking .orange-box {
  background-color: #FAD6AC;
  padding: 2em 2em 2em 8em;
  margin-bottom: 1.5em;
  text-align: center;
}
.box-hacking label {
  display: block;
}
.box-hacking input {
  height: 3em;
  width: 30em;
  margin: 1em;
  padding: 0 0.5em;
  font-size: 24px;
}
.box-hacking .naeste-scroll {
  display: flex;
  gap: 15px;
}
.box-hacking .tilbage-scroll {
  display: flex;
  margin-left: 25%;
}
.box-hacking a {
  text-decoration: none;
  color: #171717;
}
.box-hacking ul {
  padding: 0em 0 1em 1em;
}
.box-hacking ul p {
  padding-bottom: 0.5em;
}
.box-hacking li {
  font-family: "Roboto", sans-serif;
  padding: 0.2em;
  line-height: 20px;
}
.box-hacking .p-bund {
  padding-bottom: 1.7em;
}
.box-hacking .teaser {
  padding-left: 15em;
}

.box-password {
  height: 785px;
  max-width: 1209px;
  margin: 20px auto;
  background-color: #8AD0BF;
  position: relative;
  display: grid;
  grid-template: 5em 1fr 5em/4em 1fr 4em;
  overflow: scroll;
  overflow-x: hidden;
}
.box-password .menu {
  grid-area: 1/1/2/2;
  width: 70px;
  padding: 0.5em;
}
.box-password .progressbar {
  grid-area: 1/2/2/3;
  align-self: center;
  justify-self: center;
}
.box-password .trekant {
  grid-area: 1/1/4/4;
  position: relative;
  height: 70%;
  max-width: 100%;
  margin-top: auto;
  order: -1;
}
.box-password .pile-placering {
  grid-area: 3/1/4/4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
  z-index: 1;
}
.box-password .pile-placering img {
  width: 80%;
  padding-top: 0.5em;
}
.box-password .password-pige {
  grid-area: 2/1/2/3;
  position: relative;
  height: 40%;
  left: 1%;
  bottom: -5%;
  margin-top: auto;
}
.box-password .text-password {
  padding: 2em 2em 2em 4em;
  border-radius: 25px;
  width: 100%;
  grid-area: 2/2/3/3;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 0;
}
.box-password .orange-box {
  background-color: #FAD6AC;
  padding: 2em 2em 2em 8em;
  margin-bottom: 1.5em;
  text-align: center;
}
.box-password .naeste-scroll {
  display: flex;
  gap: 15px;
}
.box-password .tilbage-scroll {
  display: flex;
  margin-left: 1%;
}
.box-password a {
  text-decoration: none;
  color: #171717;
}
.box-password ul {
  padding: 0em 0 1em 1em;
}
.box-password li {
  font-family: "Roboto", sans-serif;
  padding: 0.2em;
  line-height: 20px;
}
.box-password li p {
  padding-top: 0.3em;
}
.box-password strong {
  font-size: 1.3em;
}
.box-password .p-bund {
  padding-bottom: 1.7em;
}
.box-password .teaser {
  padding-left: 15em;
}

.box-vaerktoejer {
  height: 785px;
  max-width: 1209px;
  margin: 20px auto;
  background-color: #EAB584;
  position: relative;
  display: grid;
  grid-template: 5em 1fr 5em/4em 1fr 4em;
  overflow: scroll;
  overflow-x: hidden;
  /*Accordion - reference: https://codepen.io/nera-iba/pen/VwRmvpz*/
}
.box-vaerktoejer .menu {
  grid-area: 1/1/2/2;
  width: 70px;
  padding: 0.5em;
}
.box-vaerktoejer .progressbar {
  grid-area: 1/2/2/3;
  align-self: center;
  justify-self: center;
}
.box-vaerktoejer .trekant {
  grid-area: 1/1/4/4;
  position: relative;
  height: 70%;
  max-width: 100%;
  margin-top: auto;
  order: -1;
}
.box-vaerktoejer .pile-placering {
  grid-area: 3/1/4/4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
  z-index: 1;
}
.box-vaerktoejer .pile-placering img {
  width: 80%;
  padding-top: 0.5em;
}
.box-vaerktoejer .tante {
  grid-area: 2/1/2/3;
  position: relative;
  max-height: 800px;
  left: 1%;
  bottom: -5%;
  margin-top: auto;
}
.box-vaerktoejer .text-vaerktoejer {
  padding: 2em 2em 2em 4em;
  border-radius: 25px;
  width: 100%;
  grid-area: 2/2/3/3;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 0;
}
.box-vaerktoejer .orange-box {
  background-color: #FAD6AC;
  padding: 2em 2em 2em 8em;
  margin-bottom: 1.5em;
  text-align: left;
}
.box-vaerktoejer .naeste-scroll {
  display: flex;
  gap: 15px;
}
.box-vaerktoejer .tilbage-scroll {
  display: flex;
  margin-left: 20%;
}
.box-vaerktoejer a {
  text-decoration: none;
  color: #171717;
}
.box-vaerktoejer ul {
  padding: 0em 0 1em 1em;
}
.box-vaerktoejer li {
  font-family: "Roboto", sans-serif;
  padding: 0.2em;
  line-height: 20px;
}
.box-vaerktoejer .p-bund {
  padding-bottom: 1.7em;
}
.box-vaerktoejer .teaser {
  padding-left: 8em;
}
.box-vaerktoejer .accordion {
  max-width: 58vw;
  margin: auto;
}
.box-vaerktoejer .accordion-item {
  background-color: white;
  margin: 1.5em 0;
  cursor: pointer;
  border: 0.5px solid #171717;
}
.box-vaerktoejer .accordion-item h3 {
  position: relative;
  padding: 0.5em;
}
.box-vaerktoejer .accordion-item h3::before {
  content: "+";
  position: absolute;
  right: 1em;
}
.box-vaerktoejer .accordion-item.active h3::before {
  content: "-";
}
.box-vaerktoejer .accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  padding: 0 1em;
}
.box-vaerktoejer .accordion-content.active {
  max-height: auto;
}
.box-vaerktoejer .sikkerhed {
  font-weight: 700;
  font-size: 24px;
}
.box-vaerktoejer .orange-box-sikkerhed {
  background-color: #FAD6AC;
  padding: 1em;
  margin-bottom: 1em;
}

.box-scenario-klar {
  height: 785px;
  max-width: 1209px;
  margin: 20px auto;
  background-color: #8AD0BF;
  display: grid;
  grid-template: 5em 1fr 5em/4em 1fr 4em;
  position: relative;
  overflow: hidden;
}
.box-scenario-klar .trekant {
  grid-area: 1/1/4/4;
  position: relative;
  max-width: 100%;
  margin-top: auto;
  order: -1;
}
.box-scenario-klar .menu {
  grid-area: 1/1/2/2;
  width: 70px;
  padding: 0.5em;
}
.box-scenario-klar .progressbar {
  grid-area: 1/2/2/3;
  align-self: center;
  justify-self: center;
}
.box-scenario-klar .pile-placering {
  grid-area: 3/1/4/4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8em;
  z-index: 1;
}
.box-scenario-klar .pile-placering img {
  width: 80%;
  padding-top: 0.5em;
}
.box-scenario-klar .password-pige-staa {
  position: absolute;
  height: 75%;
  left: 20%;
  top: 15%;
}
.box-scenario-klar .hund {
  position: absolute;
  height: 25%;
  left: 8%;
  bottom: 15%;
}
.box-scenario-klar .text-scenario-klar {
  padding: 2em 2em 2em 5em;
  border-radius: 25px;
  width: 50%;
  position: absolute;
  right: 5%;
  top: 13%;
  background-color: rgba(255, 255, 255, 0.75);
}
.box-scenario-klar .start {
  position: absolute;
  top: 90%;
  left: 80%;
  display: flex;
  gap: 15px;
}
.box-scenario-klar .naeste {
  display: flex;
  gap: 15px;
}
.box-scenario-klar .tilforsiden {
  display: flex;
}
.box-scenario-klar a {
  text-decoration: none;
  color: #171717;
}
.box-scenario-klar ul {
  padding: 0em 0 1em 1em;
}
.box-scenario-klar li {
  font-family: "Roboto", sans-serif;
  padding: 0.2em;
  line-height: 20px;
}
.box-scenario-klar .p-bund {
  padding-bottom: 1.7em;
}

.box-scenario-start {
  height: 785px;
  max-width: 1209px;
  margin: 20px auto;
  background-color: #8AD0BF;
  display: grid;
  grid-template: 5em 1fr 5em/4em 1fr 4em;
  position: relative;
  overflow: hidden;
}
.box-scenario-start .trekant {
  grid-area: 1/1/4/4;
  position: relative;
  max-width: 100%;
  margin-top: auto;
  order: -1;
}
.box-scenario-start .menu {
  grid-area: 1/1/2/2;
  width: 70px;
  padding: 0.5em;
}
.box-scenario-start .progressbar {
  grid-area: 1/2/2/3;
  align-self: center;
  justify-self: center;
}
.box-scenario-start .pile-placering {
  grid-area: 3/1/4/4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8em;
  z-index: 1;
}
.box-scenario-start .pile-placering img {
  width: 80%;
  padding-top: 0.5em;
}
.box-scenario-start .kvinde-sid {
  position: absolute;
  height: 75%;
  left: 2%;
  bottom: 2%;
  z-index: 1;
}
.box-scenario-start .tante {
  position: absolute;
  height: 35%;
  left: 21%;
  top: 10%;
}
.box-scenario-start .hund {
  position: absolute;
  height: 28%;
  left: 25%;
  bottom: 35%;
}
.box-scenario-start .container {
  padding: 2em 2em 2em 2em;
  border-radius: 25px;
  width: 50%;
  position: absolute;
  right: 5%;
  top: 13%;
  background-color: rgba(255, 255, 255, 0.75);
}
.box-scenario-start #text {
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  padding-bottom: 1em;
}
.box-scenario-start #option-buttons {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.box-scenario-start .btn {
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  background-color: white;
  border: 1px solid #171717;
  border-radius: 10px;
  padding: 1em;
  text-align: left;
}
.box-scenario-start .btn:hover {
  background-color: #F9F1EB;
}
.box-scenario-start .p-bund {
  padding-bottom: 1.7em;
}/*# sourceMappingURL=style.css.map */