@use "partial";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

h1{
    font-family: partial.$font;
    font-weight: 700;
    font-size: 55px;
    padding-bottom: 0.5em;
}

h2{
    font-family: partial.$font2;
    font-size: 28px;
    padding-bottom: 0.5em;
    font-weight: 600;
}

p{
    font-family: partial.$pfont;
}

.forsidep{
    font-size: 28px;
    padding-bottom: 0.5em;
}

.rod{
    color: partial.$rod-text;
}

.box{
    height: 785px;
    width: 1209px;
    margin: 20px auto;
    background-color: partial.$bg-color-morkblaa;
    box-shadow: 10px 5px 5px grey;
    position: relative;
    overflow: hidden;

    .trekant{
        position: absolute;
        width: 1209px;
        bottom: 0;
    }

    .forsidedame{
        position: absolute;
        height: 90%;
        left: 5%;
        top: 10%;
    }

    .text-forside{
        padding: 2em;
        border-radius: 25px;
        width: 60%;
        position: absolute;
        left: 28%;
        top: 5%;
        background-color: partial.$bg-color-textbox;
    }

    .taleboble{
        position: absolute;
        top: 65%;
        left: 27%;
        width: 400px;
        height: auto;
    }

    .text-boble{
        position: absolute;
        top: 73%;
        left: 32%;
        font-size: 24px;
        width: 250px;
    }

    .hacker-forside{
        position: absolute;
        top: 65%;
        left: 50%;
    }

    .naeste{
        position: absolute;
        top: 90%;
        left: 80%;
        display: flex;
        gap: 15px;
    }

    .spot{
        position: absolute;
        top: 73%;
        left: 77%;
    }

    a{
        text-decoration: none;
        color: partial.$text-color;
    }
}





